# .env
.env

# venv
cw_venv/

# Data files
data/
logs/
fitbit_data.log
cromwell_daily.log
cromwell_error.log
cromwell_cron.log

# Documentation
docs/

# Del files
delete/

# Tokens
tokens.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebooks
# *.ipynb

# Ignore Python cache files
__pycache__/

# Windows metadata files
*:Zone.Identifier

# Shell scripts
fitbit_s3-2-local.sh
run_fitbit2s3.sh
.github/workflows/claude_s3.yml
.github/workflows/claude_4.yml
