# .env
.env

# venv
cw_venv/

# Data files
data/
logs/
fitbit_data.log
cromwell_daily.log
cromwell_error.log
cromwell_cron.log

# Documentation
docs/

# Del files
delete/

# Tokens
tokens.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebooks
# *.ipynb

# Ignore Python cache files
__pycache__/

# Windows metadata files
*:Zone.Identifier